.sidebar {
  width: 260px;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #073b32,
    #062e27
  );
  color: white;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  font-size: 38px;
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 21px;
  line-height: 1.2;
}

.sidebar-subtitle {
  font-size: 13px;
  color: #b9d5ce;
  margin-top: 15px;
  margin-bottom: 35px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-links a {
  color: #e8f5f1;
  text-decoration: none;
  padding: 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a span {
  font-size: 20px;
}

.nav-links a:hover {
  background: rgba(64, 180, 143, 0.25);
  transform: translateX(5px);
}

.sidebar-bottom {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #c5e5dc;
  font-style: italic;
}

.sidebar-bottom p {
  margin: 5px 0;
}