* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f8f6;
  color: #173c35;
}

.dashboard,
.create-batch,
.qr-scanner,
.tracking,
.batch-list {
  margin-left: 260px;
}

@media (max-width: 768px) {

  .sidebar {
    width: 100%;
    min-height: auto;
    position: relative;
  }

  .dashboard,
  .create-batch,
  .qr-scanner,
  .tracking,
  .batch-list {
    margin-left: 0;
  }
}
